{{! allcrud-generator override of openapi-generator's embedded JavaSpring/model.mustache
    (org.openapitools:openapi-generator, version pinned in build.gradle.kts).
    Changes vs. the original:
    - import AbstractEntityVO/AbstractEntityDTO so generated POJOs can implement it (see
      pojo.mustache for the "implements" clause itself). allcrudUseDto is derived by
      AllcrudSpringCodegen#processOpts from the allcrudPojoNamingStyle additional property
      ("VO", default, or "DTO") - both interfaces are functionally identical
      (AbstractEntityDTO extends AbstractEntityVO, empty marker interface, confirmed in the
      core), this only changes which one gets imported/implemented and the generated class
      name suffix.
    - "import java.net.URI;"/"import java.util.*;" are gated on allcrudNeedsUriImport/
      allcrudNeedsJavaUtilImport (AllcrudSpringCodegen#postProcessModels) instead of always
      emitted - unconditional in the untouched stock template too, but dead weight in every
      POJO that has no URI-typed/container/byte[] property.
    - the javaxPackage annotation.Generated import dropped: this project's
      generatedAnnotation.mustache override no longer emits @Generated (see that partial),
      so the import was always unused.
    Files not present in this templates/ dir fall back automatically to the
    embedded template of the same name - see GeneratorTemplateContentLocator. }}
package {{package}};

{{#allcrudNeedsUriImport}}
import java.net.URI;
{{/allcrudNeedsUriImport}}
import java.util.Objects;
{{#allcrudUseDto}}
import com.techmath.allcrud.entity.AbstractEntityDTO;
{{/allcrudUseDto}}
{{^allcrudUseDto}}
import com.techmath.allcrud.entity.AbstractEntityVO;
{{/allcrudUseDto}}
{{#imports}}import {{import}};
{{/imports}}
{{#openApiNullable}}
import org.openapitools.jackson.nullable.JsonNullable;
{{/openApiNullable}}
{{#serializableModel}}
import java.io.Serializable;
{{/serializableModel}}
import java.time.OffsetDateTime;
{{#useBeanValidation}}
import {{javaxPackage}}.validation.constraints.*;
{{/useBeanValidation}}
{{^useBeanValidation}}
import {{javaxPackage}}.validation.constraints.NotNull;
{{/useBeanValidation}}
{{#performBeanValidation}}
import org.hibernate.validator.constraints.*;
{{/performBeanValidation}}
{{#jackson}}
{{#withXml}}
import {{jacksonPackage}}.dataformat.xml.annotation.JacksonXmlRootElement;
import {{jacksonPackage}}.dataformat.xml.annotation.JacksonXmlProperty;
import {{jacksonPackage}}.dataformat.xml.annotation.JacksonXmlElementWrapper;
{{/withXml}}
{{/jackson}}
{{#swagger2AnnotationLibrary}}
import io.swagger.v3.oas.annotations.media.Schema;
{{/swagger2AnnotationLibrary}}

{{#withXml}}
import {{javaxPackage}}.xml.bind.annotation.*;
{{/withXml}}
{{^parent}}
{{#hateoas}}
import org.springframework.hateoas.RepresentationModel;
{{/hateoas}}
{{/parent}}

{{#allcrudNeedsJavaUtilImport}}
import java.util.*;
{{/allcrudNeedsJavaUtilImport}}

{{#models}}
{{#model}}
{{#additionalPropertiesType}}
import java.util.Map;
import java.util.HashMap;
import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
{{/additionalPropertiesType}}
{{#isEnum}}
{{>enumOuterClass}}

{{/isEnum}}
{{^isEnum}}
{{#vendorExtensions.x-is-one-of-interface}}{{>oneof_interface}}{{/vendorExtensions.x-is-one-of-interface}}{{^vendorExtensions.x-is-one-of-interface}}{{>pojo}}{{/vendorExtensions.x-is-one-of-interface}}
{{/isEnum}}
{{/model}}
{{/models}}
